<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.varunjohn1990.iosdialogs4android">

    <application>
        <activity
            android:name=".IOSDialogView"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeIosDialog"></activity>
    </application>

</manifest>
